{% extends "layout.html" %}

{% block title %}
Portfolio
{% endblock %}

{% block main %}
    {% if portfolio %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for item in portfolio %}
            <tr>
                <td class="text-start">{{ item.stock }}</td>
                <td class="text-end">{{ item.shares }}</td>
                <td class="text-end">{{ item.price | usd }}</td>
                <td class="text-end">{{ item.total | usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                <td class="border-0 text-end">{{ user_cash_total | usd }}</td>
            </tr>
            <tr>
                <th class="border-0 fw-bold text-end" colspan="3">Total</th>
                <td class="border-0 w-bold text-end">{{ user_balance_total | usd }}</td>
            </tr>
        </foot>
    </table>
    {% else %}
    <p>No holdings in your portfolio.</p>
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end">Cash</td>
            <td class="border-0 text-end">{{ user_cash_total | usd }}</td>
        </tr>
    </foot>
    {% endif %}
{% endblock %}
