{% extends "layout.html" %}

{% block title %}
    My Trip
{% endblock %}

{% block main %}
<div class="card mb-3" style="max-width: 540px;">

     <div class="row g-0">
    
         <div class="col-md-4">
    
            <img src="{{ url_for('static', filename='images/F0i9zZSXgAEDIgt.jpg') }}" class="img-fluid rounded-start custom-card-img" alt="...">
    
        </div>
    
            <div class="col-md-8">
    
            <div class="card-body">
    
            <h5 class="card-title">Matsue Castle</h5>
    
             <h6 class="card-subtitle">Historical</h6>
    
             <p class="card-text">An Edo-period castle kept as it was, including defensive features.</p>
    
             <ul class="list-group list-group-flush">
    
             <li class="list-group-item"><span class="label">Homepage:</span> An item</li>
    
             <li class="list-group-item"><span class="label">Operating Hours:</span> An item</li>
    
             <li class="list-group-item"><span class="label">Location:</span> An item</li>
    
         </ul>
        
        </div>
    
        </div>
    
        </div>
    
    </div>
{% endblock %}